{% extends 'base.html' %}

{% block content %}
<h2>Your Applications</h2>
 <a href="{% url 'job_list' %}" class="btn btn-outline-success btn-sm mt-2 mb-3">
        View More Jobs
    </a>
<form method="get" class="mb-3">
    <select name="status" onchange="this.form.submit()" class="form-select w-auto d-inline">
        <option value="">All Statuses</option>
        <option value="pending" {% if selected_status == 'pending' %}selected{% endif %}>Pending</option>
        <option value="approved" {% if selected_status == 'approved' %}selected{% endif %}>Approved</option>
        <option value="rejected" {% if selected_status == 'rejected' %}selected{% endif %}>Rejected</option>
    </select>
</form>

<ul class="list-group">
    {% for app in applications %}
    <li class="list-group-item">
        <strong>{{ app.job.title }}</strong> at {{ app.job.company_name }}<br>
        Applied on: {{ app.applied_at|date:"Y-m-d" }}<br>
        <strong>Status:</strong>
        <span class="
            {% if app.status == 'approved' %}text-success
            {% elif app.status == 'rejected' %}text-danger
            {% else %}text-secondary{% endif %}
        ">
            {{ app.status|capfirst }}
        </span>
        
    </li>
    {% empty %}
    <li class="list-group-item">No applications found.</li>
     <a href="{% url 'job_list' %}" class="btn btn-outline-success btn-sm mt-2">
        View More Jobs
    </a>
    {% endfor %}
</ul>
{% endblock %}
